@import './base.css';

:root {
  /* font weight */
  --thick-font: 900;
  --normal-font: 700;
  --light-font: 500;

  /* colors */
  --black: #000814;
  --white: #f8f9fa;
  --primary: #3a86ff;
  --warming: #ff006e;
  --secondary: #8338ec;

  /* border radius */
  --rounded-angle: 5px;
  --cirle: 50%;

  /* border */
  --thick-primary-border: 3px solid var(--primary);
  --normal-primary-border: 2px solid var(--primary);
  --light-primary-border: 1px solid var(--primary);
  --thick-white-border: 3px solid var(--white);
  --normal-white-border: 2px solid var(--white);
  --light-white-border: 1px solid var(--white);

  /* padding */
  --small-padding: 5px;
  --normal-padding: 10px;
  --large-padding: 15px;

  /* background */
  --transparent-black-bg: rgb(0, 0, 0, 0.2);

  /* text */
  --normal-text-size: 20px;
}
